<!DOCTYPE html>
<html>
  <head>
    <title>Equations Work | Object Detection of Live streams</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>-->
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.dom.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.sound.js"></script>-->
    <script type="text/javascript" src="../static/index.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="App">
      <header class="App-header">
        <p><u> Object Detection On live stream</u></p>
        <!-- <div className="pre_img">
          <span><img id="imagebox" src="" /></span>
        </div> -->
<!--        <div id="link">-->
<!--          <a href="" id="download" download>Download</a>-->
<!--        </div>-->
        <!-- <video width="320" height="240" controls>
          <source src="/static/video_1.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video> -->
        <img src="{{ url_for('video') }}" id="ImageStream" style="display:none"/>
        <div style="margin-top: 1%;">
        <div id="inputDIV" >
        <button class="btn btn-success" name="displayURLBOX" id="displayURLBOX" onclick="displayURLTextBox()">Add URL</button><br/><br/><i style="font-size:15px;   ">OR</i><br/><br/>
        <button class="btn btn-success" name="displayInputBOX" id="displayInputBOX" onclick="displayInputBOX()">Add file</button>
          </div>
        <form>


          <div id="URLTEXTDIV"  style="display:none">
          <label for="VIDEO_URL">Enter URL:</label>
          <input id="VIDEO_URL" name="VIDEO_URL" type="text" style="color:blue; width:700px" onchange="displayAnalyseButton()"/><br><br>
            <p style="font-size:20px">Sample IP Cameras</p>
            <a class="btn btn-link" name="" id="Zeeland"  onclick='changeValue("http://217.63.79.153:8081/cgi-bin/faststream.jpg?stream=half&fps=15&rand=COUNTER")'>Netherland's Zeeland</a>
            <a class="btn btn-link" name="" id="Barcelona" onclick='changeValue("https://youtu.be/AdUw5RdyZxI")'>Times Square, New York City (Youtube Live)</a>
            <a class="btn btn-link" name="" id="Basel" onclick="changeValue('http://31.164.218.109:50001/axis-cgi/mjpg/video.cgi?camera=&resolution=640x480')">Switzerland's Basel</a>
          </div>
          <div id="choosefileDiv" style="display:none">

          <input
            id="imageinput"
            type="file"
            name="image"
            onchange="readUrl(this)"
           />
            </div>
        </form>

        <button class="btn btn-success" name="send" id="sendbutton" style="display:none">Analyse</button>
        <button class="btn btn-danger" name="Stop" id="Stop" style="display:none">Stop</button>
          </div>
      </header>
    </div>
  </body>
</html>
